; editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[*.ts]
insert_final_newline = true

[*.js]
insert_final_newline = true

[*.yaml]
insert_final_newline = true
[*.entdef]
insert_final_newline = true
[*.texopt]
insert_final_newline = true

[*.json]
insert_final_newline = true
