html, body {
  background-color: black;
  color: white;
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  overflow: hidden;
  position: absolute;
}

a {
  color: #DDF;
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* Work around Safari leaving stuck tap highlights */
}
a:visited {
  color: #DBF;
}
#nowebgl {
  /* CANNOT have padding - messes up Safari when hidden! padding: 20px; */
  pointer-events: all;
}

#loading {
  background: black;
}

#content {
  display: block; /* remove scrollbars */
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
}

#safearea {
  display: block;
  overflow: hidden;
  border: 0;
  padding: 0;
  margin: 0;
  left: env(safe-area-inset-left);
  right: env(safe-area-inset-right);
  top: env(safe-area-inset-top);
  bottom: env(safe-area-inset-bottom);
  position: absolute;
  pointer-events: none;
}

canvas {
  display: block; /* remove scrollbars */
  width: 100%; /* for mobile, deals with canvas resize for top bar */
  height: 100%;
  outline: none;
  /*width: 100vw;
  height: 100vh;*/
}

#debug_overlay {
  left: 1%;
  top: 11%;
  position: fixed;
  white-space: pre-wrap;
  z-index: 99;
  background-color: rgba(1, 1, 1, 0.8);
}

.screenwrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.hflex {
  display: flex;
  flex-direction: row;
}

.vflex {
  display: flex;
  flex-direction: column;
}

.fluid {
  flex: 1;
}

.flexcenter {
  align-self: center;
}

#dynamic_text {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: block; /* remove scrollbars */
}

.glovui_dynamic {
  font-size: 1em;
  position: absolute;
  text-align: center;
  opacity: 1.0;
  pointer-events: auto;
}
.glovui_dynamic input,.glovui_dynamic textarea {
  font-size: 1em;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.glovui_link {
  display: block;
  height: 100%;
  user-drag: none;
}
